datasets_179276_403373_ddos_imbalanced_unbalaced_20_80_dataset (1).csv
Sequences_Random_50.npy
Labels_Random_50.npy
One Encoded and Reg.csv
The Right Labels.csv
testing.py
Accuracy per Epoch No IP.png
Loss per Epoch No IP.png
Accuracy per Epoch With IP.png
Loss per Epoch With IP.png
/NO_IP_MODEL
/WITH_IP_MODEL